@import url("./variables.css");

/* Default rules */
.root {
	-fx-background-color: -fx-color-bg;
}

.button {
	-fx-background-color: -fx-color-primary;
	-fx-text-fill: -fx-gray-light;
}

.button:hover {
	-fx-background-color: derive(-fx-color-primary, -5%);
}
